<!doctype html>
<html lang="en">
<head>
  <title>Página Inicial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <div class="login-box">
    <h2>Bem-vindo!</h2>
    <p style="color: white; text-align: center;">Você está na página inicial. Explore as funcionalidades do nosso site!</p>
    <form>
    <div style="text-align: center;">
      <a href="/login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>

      <a href="/cadastro" style="margin-left: 10px;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Cadastro
      </a>
    </form>
    </div>
  </div>
</body>
</html>
